<?xml version="1.0" encoding="utf-8" ?>
  <ProxyConfig allowedReferers="*" logFile="proxy_log.log" mustMatch="true">
    <serverUrls>
      <serverUrl url="https://api.trafficland.com/v2.1/json/video_feeds/bbox" matchAll="true" />
      <serverUrl url="https://ie.trafficland.com" matchAll="true" />
    </serverUrls>
  </ProxyConfig>

  <!-- See https://github.com/Esri/resource-proxy for more information -->